html {
    height: 100%;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

body {
    /* 46.875% size */
    height: 844px;
    width: 390px;
    margin: auto;
    background-color: #3A3939;
    /* overflow: hidden; */
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the entire app */

    display: flex; /* Turn body into a flex container */
    flex-direction: column; /* Arrange children (rows) vertically */
}

/* Define the rows */
.row1 {
    flex: 1;
    width: 100%;
    border: 1px solid white;
    
    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: start; /* starting from the left */
}

.row2 {
    flex: 3;
    width: 100%;
    border: 1px solid white;

    display: flex;
    align-items: center; /* vertical alignment */
}

.row3 {
    flex: 2;
    width: 100%;
    border: 1px solid white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row4 {
    flex: 1;
    width: 100%;
    border: 1px solid white;

    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: center; /* horizontal alignment */
}

.row5 {
    flex: 3;
    width: 100%;
    border: 1px solid white;

    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: center; /* horizontal alignment */
}