.column_row3 {
    flex: 1;
    /* border: 1px solid white; */
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.robot_status_window {
    /* og: 147x147 */
    width: 147px;
    height: 135px;
    /* width: 78%; */
    /* height: 80%; */
    border: 3px solid #0066FF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gate_status {
    font-family: 'Inter', sans-serif;
    /* og: 60px  */
    font-size: 60px;
    /* font-size: 1.5em; */
    font-weight: 900;
    color: #0066FF;
}

.emergency_stop_button {
    /* og: 147x147 */
    width: 147px;
    height: 147px;
    /* width: 72%; */
    /* height: 85%; */
    cursor: pointer;
    border: solid;
    border-color: rgb(255, 0, 0);
    border-radius: 50%;
    border-width: 2px;
    background-color: rgb(255, 0, 0);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;

    /* og: 17px */
    font-size: 17px;
    /* font-size: 0.8em; */
    color: white;
    
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.25);
    transition: background-color 0.2s ease,
                color 0.2s ease;
}

.emergency_stop_button:hover {
    /* font-weight: bold; */
    opacity: 0.8;
}

.emergency_stop_button:active {
    opacity: 1.0;
}

.emergency_stop_button.pressed {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    /* font-weight: bold; */
}