.column_row5 {
    flex: 1;
    /* border: 1px solid white; */
    height: 50%;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box_row5 {
    width: 147px;
    height: 239px;
    border: 3px solid #979797;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

.box_top {
    width: 100%;
    flex: 1.5;
    /* border: 1px solid white; */

    display: flex;
    align-items: center; 
    justify-content: center;
}

.box_bottom {
    width: 100%;
    flex: 4;
    /* border: 1px solid white; */

    display: flex;
    align-items: start; 
    justify-content: center;
    padding-top: 30px;
}

.top_left_right {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: white;   
}

.bottom_status {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: white; 
}

.green-border {
    border-color: green !important;
}

.red-border {
    border-color: red !important;
}

.green-text {
    color: green !important;
}

.red-text {
    color: red !important;
}
