<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add the Google Fonts link -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            50%
        </header>
        <div class="main">
            <img src="{{ url_for('static', filename='logo_IAG.png') }}" alt="IAG Logo">

            <div id="state-content">

            </div>
        </div>
        <footer class="footer">
            <p class="footer-text">Powered By <span class="footer-powered">Airtrek Robotics</span></p>        </footer>
    </div>
    <script>
        // JavaScript code to load content based on state
        var currentState = "{{ state }}"; // Get the current state from Flask template
        var mainContent = document.getElementById("state-content");
        var routeName = "/get_content/" + currentState;
        console.log(routeName);
        
        // Load content from activate.html using AJAX
        var xhr = new XMLHttpRequest();
            xhr.open("GET", routeName, true); // Call Flask route to get activate.html content
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    mainContent.innerHTML = xhr.responseText;
                }
            };
        xhr.send();

    </script>
</body>
</html>
