<script>
    var currentState = "";

    function updateState() {
        // Fetch the current state using AJAX
        fetch('/get_state')
            .then(response => response.json())
            .then(data => {
                currentState = data.state;
                var routeName = '/' + currentState;
                
                if (currentState !== data.prev_state) {
                    window.location.replace(routeName);
                }
                
                // Make a POST request to update_state
                fetch('/update_state', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ state: currentState })
                });
            });
    }
    
    // Update the state every second
    setInterval(updateState, 1000);
</script>
