button {
    width: 70%;
    height: 80%;
    background-color: #dbdbdb;
    border: 2px solid #3A3939;

    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.25);

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    color: black;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

