.airtrek_robotics {
    color: #FF7C02;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: 0;
}

.web_simulator {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 27px;
    margin: 0;
    margin-top: 15px;
}