/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the entire app */
}

.container {
    max-width: 165.4mm;
    max-height: 293.8mm;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
}

.header {
    height: 60px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align "50%" to the right */
    padding: 0 20px;
}


.logo {
    max-width: 100%;
    height: 50px;
    background-color: beige;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px 0;
}

.logo img {
    max-width: 30%; /* Set maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add margin around the image */
}

.engage_stop {
    flex-grow: 1;
    overflow-y: auto;    
    text-align: center; /* Center align content, including images */
    margin: 0;
}

.engage_stop img {
    max-width: 45%; /* Set maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add margin around the image */
}

.engage_warning {
    font-size: 3em;
    font-weight: bold;
    color: red;
    margin: 0;
}

.footer {
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.footer-powered {
    font-size: 1.5em; /* Adjust the font size as needed */
    color: rgb(219, 143, 0); /* Change the color to orange */
    font-weight: bold;
}