/* default page */
.default_wingbot {
    font-size: 8em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.default_in_operation {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* activate page */
.activate_monitoring {
    font-size: 6.5em;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
}
.activate_gate {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* engage page */
.engage_stop {
    flex-grow: 1;
    overflow-y: auto;    
    text-align: center; /* Center align content, including images */
    margin: 0;
}

.engage_stop img {
    max-width: 70%; /* Set maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add margin around the image */
}

.engage_warning {
    font-size: 3em;
    font-weight: bold;
    color: red;
    margin: 0;
}

