<div class="row" style="height: 200px;">
    <div class="col">
        <div class="alert-window">
            <div class="alert-window-top">
                <p class="alert-window-top-content">Left Side</p>
            </div>
            <div class="alert-window-main">
                <p class="alert-window-main-content">Clear</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="alert-window">
            <div class="alert-window-top">
                <p class="alert-window-top-content">Right Side</p>
            </div>
            <div class="alert-window-main">
                <p class="alert-window-main-content">Clear</p>
            </div>
        </div>
    </div>
</div>