<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='row1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='row2.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style_logo.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style_footer.css') }}"> -->

    <!-- 'Roboto' from google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- 'Inter' from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">

    <!-- HERE Javascript Libraries -->
    <meta name="viewport" content="initial-scale=1.0,
    width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js"
        type="text/javascript" charset="utf-8"></script>

</head>