<div id="mapContainer" 
    style="width: 95%; 
        height: 90%; 
        margin: 0; 
        border-radius: 25px;
        border: 1px solid black;
        overflow: hidden;">
</div>

<script>
    var marker_left;  // Global marker variable
    var marker_right;
    var leftWingwalkingMarkers = [];  // Store all left wingwalking markers
    var rightWingwalkingMarkers = []; // Store all right wingwalking markers

    // Function to handle updates on map based on robot readiness
    function updateRobotDataOnMap(robot) {
        if (robot.robot_left.location) {
            var left_icon_url = robot.robot_left.estop ? '/static/images/estop_marker.png' : '/static/images/green_marker.png';
            var left_icon_option = robot.robot_left.estop ? icon_ego_estop : icon_ego_normal;

            if (marker_left) {
                marker_left.setGeometry(new H.geo.Point(robot.robot_left.location.lat, robot.robot_left.location.lng));
                marker_left.setIcon(new H.map.Icon(left_icon_url, left_icon_option));
            } else {
                var icon = new H.map.Icon(left_icon_url, left_icon_option);
                marker_left = new H.map.Marker({ lat: robot.robot_left.location.lat, lng: robot.robot_left.location.lng }, { icon: icon });
                map.addObject(marker_left);
            }
        }
        if (robot.robot_right.location) {
            var right_icon_url = robot.robot_right.estop ? '/static/images/estop_marker.png' : '/static/images/green_marker.png';
            var right_icon_option = robot.robot_right.estop ? icon_ego_estop : icon_ego_normal;

            if (marker_right) {
                marker_right.setGeometry(new H.geo.Point(robot.robot_right.location.lat, robot.robot_right.location.lng));
                marker_right.setIcon(new H.map.Icon(right_icon_url, right_icon_option));
            } else {
                var icon = new H.map.Icon(right_icon_url, right_icon_option);
                marker_right = new H.map.Marker({ lat: robot.robot_right.location.lat, lng: robot.robot_right.location.lng }, { icon: icon });
                map.addObject(marker_right);
            }
        }
    }

    function updateWingwalkingDataOnMap(wingwalking) {
        var icon = new H.map.Icon('/static/images/red_marker.png', icon_ww_obj);

        // Handle left wingwalking locations
        // First, remove all existing left wingwalking markers
        leftWingwalkingMarkers.forEach(marker => map.removeObject(marker));
        leftWingwalkingMarkers = [];

        wingwalking.left_location.forEach(loc => {
            var newMarker = new H.map.Marker({ lat: loc.lat, lng: loc.lng }, { icon: icon });
            leftWingwalkingMarkers.push(newMarker);
            map.addObject(newMarker);
        });

        // Handle right wingwalking locations
        // First, remove all existing right wingwalking markers
        rightWingwalkingMarkers.forEach(marker => map.removeObject(marker));
        rightWingwalkingMarkers = [];

        wingwalking.right_location.forEach(loc => {
            var newMarker = new H.map.Marker({ lat: loc.lat, lng: loc.lng }, { icon: icon });
            rightWingwalkingMarkers.push(newMarker);
            map.addObject(newMarker);
        });
    }

    var platform = new H.service.Platform({
        'apikey': 'UlbxlxiHLVFz1Cov4LTIZaNQUTxGHoY4R96qgGjxDFo'
    });

    var defaultLayers = platform.createDefaultLayers();

    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.raster.satellite.map,
        {
            // 1. Paxton Ramsey Park
            // zoom: 20,
            // center: { lat: 39.22216820767243, lng: -84.27086199235269 }
            // 2. CVG B8
            zoom: 18.5,
            center: { lat: 39.05049285676494, lng: -84.65800578923196 }
        } 
    );

    // Add behavior for map interactivity
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Add UI controls for layer switching and other features
    // H.ui.UI.createDefault(map, defaultLayers);

    // Define the desired size for the icon
    var icon_ego_normal = {
        size: new H.math.Size(30, 38)  // width and height in pixels
    };
    var icon_ego_estop = {
        size: new H.math.Size(45, 45)  // width and height in pixels
    };
    var icon_ww_obj = {
        size: new H.math.Size(38, 38)  // width and height in pixels
    };

</script>
