<div id="mapContainer" 
    style="width: 95%; 
        height: 90%; 
        margin: 0; 
        border-radius: 25px;
        border: 1px solid black;
        overflow: hidden;">
</div>

<script>
    var marker_left;  // Global marker variable
    var marker_right;
    var leftWingwalkingMarkers = [];  // Store all left wingwalking markers
    var rightWingwalkingMarkers = []; // Store all right wingwalking markers

    // Function to handle updates on map based on robot readiness
    function updateRobotDataOnMap(robot) {
        if (robot_left.location) {
            if (marker_left) {
                marker_left.setGeometry(new H.geo.Point(robot.robot_left.location.lat, robot.robot_left.location.lng));
            } else {
                var icon = new H.map.Icon('/static/images/green_marker.png', iconOptions);
                marker = new H.map.Marker({ lat: robot.robot_left.location.lat, lng: robot.robot_left.location.lng }, { icon: icon });
                map.addObject(marker);
            }
        }
        if (robot_right.location) {
            if (marker_right) {
                marker_left.setGeometry(new H.geo.Point(robot.robot_right.location.lat, robot.robot_right.location.lng));
            } else {
                var icon = new H.map.Icon('/static/images/green_marker.png', iconOptions);
                marker = new H.map.Marker({ lat: robot.robot_right.location.lat, lng: robot.robot_right.location.lng }, { icon: icon });
                map.addObject(marker);
            }
        }
    }

    function updateWingwalkingDataOnMap(wingwalking) {
        var icon = new H.map.Icon('/static/images/red_marker.png', iconOptions);

        // Handle left wingwalking locations
        // First, remove all existing left wingwalking markers
        leftWingwalkingMarkers.forEach(marker => map.removeObject(marker));
        leftWingwalkingMarkers = [];

        wingwalking.left_location.forEach(loc => {
            var newMarker = new H.map.Marker({ lat: loc.lat, lng: loc.lng }, { icon: icon });
            leftWingwalkingMarkers.push(newMarker);
            map.addObject(newMarker);
        });

        // Handle right wingwalking locations
        // First, remove all existing right wingwalking markers
        rightWingwalkingMarkers.forEach(marker => map.removeObject(marker));
        rightWingwalkingMarkers = [];

        wingwalking.right_location.forEach(loc => {
            var newMarker = new H.map.Marker({ lat: loc.lat, lng: loc.lng }, { icon: icon });
            rightWingwalkingMarkers.push(newMarker);
            map.addObject(newMarker);
        });
    }

    var platform = new H.service.Platform({
        'apikey': 'UlbxlxiHLVFz1Cov4LTIZaNQUTxGHoY4R96qgGjxDFo'
    });

    var defaultLayers = platform.createDefaultLayers();

    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.raster.satellite.map,
        {
            zoom: 20,
            center: { lat: 39.22216820767243, lng: -84.27086199235269 }
        } 
    );

    // Add behavior for map interactivity
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Add UI controls for layer switching and other features
    // H.ui.UI.createDefault(map, defaultLayers);

    // Define the desired size for the icon
    var iconOptions = {
        size: new H.math.Size(30, 38)  // width and height in pixels
    };

</script>
