<div id="mapContainer" 
    style="width: 95%; 
        height: 90%; 
        margin: 0; 
        border-radius: 25px;
        border: 1px solid black;
        overflow: hidden;">
</div>

<script>
    var platform = new H.service.Platform({
        'apikey': 'UlbxlxiHLVFz1Cov4LTIZaNQUTxGHoY4R96qgGjxDFo'
    });

    var defaultLayers = platform.createDefaultLayers();

    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.raster.satellite.map,
        {
            zoom: 20,
            center: { lat: 39.22216820767243, lng: -84.27086199235269 }
        } 
    );

    // Add behavior for map interactivity
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Add UI controls for layer switching and other features
    // H.ui.UI.createDefault(map, defaultLayers);
</script>
