<div class="column_row5" id="leftBox">
    <div class="box_row5">
        <div class="box_top">
            <p class="top_left_right">LEFT</p>
        </div>
        <div class="box_bottom">
            <p class="bottom_status">INACTIVE</p>
        </div>
    </div>
</div>
<div class="column_row5" id="rightBox">
    <div class="box_row5">
        <div class="box_top">
            <p class="top_left_right">RIGHT</p>
        </div>
        <div class="box_bottom">
            <p class="bottom_status">INACTIVE</p>
        </div>
    </div>
</div>